.header4 {
    display: grid;
    grid-template-columns: 100px auto auto;
    align-items: center;
    gap: 10px;
    background-color: #002f2a;
    color: #e6d194;
    padding: 8px;
    border-bottom: 4px solid #651d32ff;
}

.header4 h2 {
    margin: 0;
}