.header2 {
    background-color: #FFFFFF;
    color: #651d32ff;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.header2 h2 {
    margin: 0;
}