.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedor principal: Sidebar + Main */
.contenido {
    display: flex;
    flex: 1;
}

/* Main ocupa todo el espacio restante */
.main {
    flex: 1;
    padding: 20px;
}

/* Footer siempre abajo */
.footer {
    margin-top: auto;
}