.main {
    width: 100%;
    flex: 1;
    background-color: #fafafa;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal: menú lateral + contenido */
.contenedor-main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* Contenido principal */
.contenido {
    flex: 1;
    padding: 5px;
    background-color: #651d32ff;
    /*box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);*/
}