.sidebar {
    width: 240px;
    background: #f4f4f4;
    padding: 15px;
    border-right: 3px solid #651d32ff;
    display: flex;
    flex-direction: column;
}

.sidebar-lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Items principales */
.sidebar-item {
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.sidebar-item:hover {
    background: #651d32ff;
    color: white;
}

.sidebar-item.activo {
    background: #651d32ff;
    color: white;
    font-weight: bold;
}

/* Secciones y submenús */
.sidebar-submenu {
    display: none;

    margin-left: 15px;
    padding-left: 10px;
    border-left: 3px solid #002f2a;
}

.sidebar-seccion:hover .sidebar-submenu {
    display: block;
}

.sidebar-seccion-titulo {
    font-weight: bold;
    padding: 8px;
    cursor: default;
}

.sidebar-subitem {
    list-style: none;
    padding: 6px 10px;
    cursor: pointer;
}

.sidebar-subitem:hover {
    background-color: #e6d194;
}

/* Resaltar activo */
.activo {
    background-color: #651d32ff;
    font-weight: bold;
    color: white;
}

/* Botón de cerrar sesión en el sidebar*/
.sidebar-footer {
    margin-top: 60px;
    /* Se adapta al contenido del menu, no fuerza a usar scroll en menús cortos*/
}

.logout-btn {
    width: 100%;
    padding: 10px;
    background: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background: #b71c1c;
}